@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.iconC {
  transition: all 0.3s ease;
}

.iconC:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
